<!DOCTYPE html>
<html lang="en">
<head>
    <title>login page</title>
</head>
<body>
    <%- include('common/header')%>  
    <!-- <%- include('common/filename')%> to include common html file -->
    <!-- eiphen indicates html -->
   <h1>This is a login page</h1>
</body>
</html>